{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="import-csv"/>
        <input type="submit" name="import" value="Import-Data"/>
    </form>
{% endblock %}
